body {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkslategray;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

form {
    float: left;
}

footer {
    background-color: darkslategray;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}