body {
    margin: 0;
    padding: 0;
}

header {
    background-color: darkslategray;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

.search {
    border: 1px black solid;
}

form {
    float: left;
}

.content {
    border: 1px black solid;
}